
li {
  list-style: none;
  
}

.footer-navigation a {
  color:#FFFFFF;
}

.footer-navigation a:hover {
  color:rgb(204, 204, 204);
  text-decoration: none;
}

.footer-navigation {
  background: #041E2B;
  color:#FFFFFF;
  padding: 40px 0 30px 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}