
root {
  --contrast: #041E2B;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

/* Montserrat
  regular
gillroy
  light
  medium
roboto
  light
  medium 
  thin
  bold */

.primary-button {
  font-family: sans-serif;
  font-weight: 400;
  border-radius: 10px;
  background-color: #041E2B;
}
.secondary-button {
  font-family: sans-serif;
  font-weight: 400;
  border-radius: 10px;

}

/* BENEFTITS */

#benefits {
  min-height: 194px;
  background-color: #041E2B;
  color: #ffffff;
}


.benefit {
  max-width: 340px;
}

.benefit img {
  width: 112.23px;
  height: 106px;
  margin: 25px 0 25px 0;
}

.benefit p {
  margin-left: 16px;
}


/* ITEMS */

.item-card {
  width: 100%;
  max-width: 254px;
}

.item-img {
  width: 100%;
  max-width: 108px;
  height: auto;
}

/* QUESTIONNARIE */

#questionnarie {
  background-color: #041E2B;
  color: #ffffff;
  min-height: 154px;
}


/* STAGES */

.stage-number {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #041E2B;
  color: #ffffff;
  font-size: 3em;
}

/* #CASES */

.case-card {
  width: 346px;
  /* height: 206px; */
}

.case-image {
  width: 100%;
  max-width: 346px;
  height: auto;
}





/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {


}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  
  
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
/* BENEFTITS */

#benefits {
  min-height: 194px;
  background-color: #041E2B;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.benefit {
  display: flex;
  max-width: 340px;
  display: flex;
  align-items: center;
}

.benefit img {
  width: 112.23px;
  height: 106px;
  margin: 25px 0 25px 0;
}

.benefit p {
  margin-left: 16px;
}

/* STAGES */
.stage-number {
  width: 100px;
  height: 100px;
}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
}