root {
  --contrast: #041e2b;
}

body {
  font-family: "Roboto", sans-serif;
}

section {
  margin-bottom: 70px;
}

/* Montserrat
  regular
gillroy
  light
  medium
roboto
  light
  medium 
  thin
  bold */

.primary-button {
  font-family: sans-serif;
  border-radius: 10px;
  background-color: #041e2b;
}
.secondary-button {
  font-family: sans-serif;
  border-radius: 10px;
}

/* HERO */

#hero {
  height: 541px;
}

.call-to-action p {
  max-width: 512px;
  font-size: 32px;
}

.hero-image {
  position: absolute;
  left: 563px;
  top: -2px;
  z-index: -1;
  width: 878px;
  height: 698px;
}

/* BENEFTITS */

#benefits {
  min-height: 194px;
  background-color: #041e2b;
  color: #ffffff;
}

.benefit {
  max-width: 340px;
}

.benefit img {
  width: 112.23px;
  height: 106px;
  margin: 25px 0 25px 0;
}

.benefit p {
  margin-left: 16px;
}

/* ITEMS */

.item-card {
  max-width: 254px;
  width: 100%;
}

.item-img {
  width: 100%;
  max-width: 108px;
  height: auto;
}

/* QUESTIONNARIE */

#questionnarie {
  background-color: #041e2b;
  color: #ffffff;
  min-height: 154px;
}

/* STAGES */

.stage-number {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #041e2b;
  color: #ffffff;
  font-size: 3em;
}

/* #CASES */

.case-card {
  max-width: 346px;
  width: 100%;
}

.case-image {
  width: 100%;
  max-width: 346px;
  height: auto;
}

/* CONTACTS */

.form-container {
  max-width: 580px;
  height: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.information {
  max-width: 519px;
  width: 100%;
  height: 100%;
}

.map {
  max-width: 519px;
  width: 100%;
  max-height: 217px;
  height: 100%;
}

/* CHARITY */
/* .charity-img {
  width: 200px;
  height: 100px;
} */

/* Item page */

.article.container {
  width: 1222px;
  height: 825px;
  background: #ffffff;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}

/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* BENEFTITS */

  #benefits {
    min-height: 194px;
    background-color: #041e2b;
    color: #ffffff;
    display: flex;
    align-items: center;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .benefit {
    display: flex;
    max-width: 340px;
    display: flex;
    align-items: center;
  }

  .benefit img {
    width: 112.23px;
    height: 106px;
    margin: 25px 0 25px 0;
  }

  .benefit p {
    margin-left: 16px;
  }

  /* STAGES */
  .stage-number {
    width: 100px;
    height: 100px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
