
body {
  font-family: 'Roboto', sans-serif;
}

/* BENEFTITS */

#benefits {
  min-height: 194px;
  background-color: #041E2B;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.benefit {
  display: flex;
  max-width: 340px;
  display: flex;
  align-items: center;
}

.benefit img {
  width: 112.23px;
  height: 106px;
  margin: 25px 0 25px 0;
}

.benefit p {
  margin-left: 16px;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }

  .benefit {
    flex-direction: column;
    text-align: center;
  }

  .benefit p {
    margin-left: 0px;
  }
}

/* ITEMS */

.item-card {
  /* max-width: 254px;
  max-height: 400px; */
  /* display: flex;
  justify-content: center; */
}

.item-img {
  height: 249px;
  object-fit: cover;
  width: 100%;
  /* height: 15vw; */
}