root {
  --contrast: #041e2b;
}

body {
  font-family: "Roboto", sans-serif;
}

section {
  margin-bottom: 70px;
}

/* Montserrat
  regular
gillroy
  light
  medium
roboto
  light
  medium 
  thin
  bold */

.primary-button {
  font-family: sans-serif;
  border-radius: 10px;
  background-color: #041e2b;
}
.secondary-button {
  font-family: sans-serif;
  border-radius: 10px;
}

/* NAVIGATION */

.navigation {
  background: "rgba(0, 0, 0, 0)";
  z-index: 999;
}

.navigation a {
  text-decoration: none;
}

.nav-image {
  z-index: -1;
  right: 0px;
  top: 0px;
  position: absolute;
  height: 100%;
}

/* HERO */

#hero {
  height: 531px;
}

.call-to-action p {
  max-width: 512px;
  font-size: 32px;
}

/* BENEFTITS */

#benefits {
  min-height: 194px;
  background-color: #041e2b;
  color: #ffffff;
}

.benefit {
  max-width: 340px;
}

.benefit img {
  width: 112.23px;
  height: 106px;
  margin: 25px 0 25px 0;
}

.benefit p {
  margin-left: 16px;
}

/* ITEMS */

.item-card {
  max-width: 170px;
  width: 100%;
  /* box-shadow: inset 0 0 0 100px gold; */
}

.item-img::before {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  /* border: 60px solid black; */
  box-shadow: inset 0 0 0 100px rgba(90, 84, 84, 0.253);
  box-sizing: border-box;
}

.item-img-container {
  height: 249px;
}

.item-img {
  /* z-index: -1; */
  /* position: relative; */
  width: 100%;
  max-width: 202px;
  height: 249px;
  height: auto;
  float: left;
}

/* QUESTIONNARIE */

#questionnarie {
  background-color: #041e2b;
  color: #ffffff;
  min-height: 154px;
}

/* STAGES */

.stage-number {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #041e2b;
  color: #ffffff;
  font-size: 3em;
}

/* PARTNERS */

.carousel {
  min-height: 150px;
}

/* #CASES */

.case-card {
  max-width: 346px;
  width: 100%;
}

.case-image {
  width: 100%;
  max-width: 346px;
  height: auto;
}

/* CONTACTS */

.form-container {
  max-width: 580px;
  height: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.information {
  max-width: 519px;
  width: 100%;
  height: 100%;
}

.map {
  max-width: 519px;
  width: 100%;
  max-height: 217px;
  height: 100%;
}

/* Item page */

/* CASE ARTICLE */
.article-container {
  padding: 3%;
  max-width: 1222px;
  min-height: 500px;
  height: 100%;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}

.preview-carousel-container {
  max-width: 250px;
  max-height: 187.5px;
}

.preview-img {
  max-width: 250px;
  width: 100%;
  height: auto;
  object-fit: fill;
}

.fullscreen-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #questionnarie h2 {
    font-size: 0.5rem;
  }
  .item-card {
    max-width: 254px;
    width: 100%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #questionnarie h2 {
    font-size: 2rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* BENEFTITS */

  #benefits {
    min-height: 194px;
    background-color: #041e2b;
    color: #ffffff;
    display: flex;
    align-items: center;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .benefit {
    display: flex;
    max-width: 340px;
    display: flex;
    align-items: center;
  }

  .benefit img {
    width: 112.23px;
    height: 106px;
    margin: 25px 0 25px 0;
  }

  .benefit p {
    margin-left: 16px;
  }

  /* STAGES */
  .stage-number {
    width: 100px;
    height: 100px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
